/*
 * Reset the box-sizing
 * via: http://paulirish.com/2012/box-sizing-border-box-ftw/
 */

*, *:before, *:after {
    @include box-sizing(border-box);
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    position: relative;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $body-bg;
}
/**
 * 1. http://usabilitypost.com/2012/11/15/w-optimizelegibility-on-mobile-devices/
 * 2. http://maxvoltar.com/archive/-webkit-font-smoothing
 * NOTE: http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
 * 3. http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 *    http://jaydenseric.com/blog/css-font-smoothing-for-firefox-mac
 */

body, input, textarea, select, button {
    text-rendering: optimizeLegibility;
    /* 1 */
    
    -webkit-font-smoothing: antialiased;
    /* 2 */
    
    -moz-osx-font-smoothing: grayscale;
    /* 3 Default: auto */
    
    -moz-font-feature-settings: "liga", "kern"
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
// Links
a {
    color: $link-color;
    text-decoration: none;
    &:hover, &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    &:focus {
        @include tab-focus;
    }
}

/*  
 *  1.box-sizing
 *  2.http://codepen.io/nailu0/pen/pvRoMb  align width inline element
 */

img {
    box-sizing: border-box; /* 1 */
    
    vertical-align: middle; /* 2 */
}
