/*
 * Reset the box-sizing
 * via: http://paulirish.com/2012/box-sizing-border-box-ftw/
 */

*, *:before, *:after {
    @include box-sizing(border-box);
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    position: relative;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $body-bg;
}
/**
 * 1. http://usabilitypost.com/2012/11/15/w-optimizelegibility-on-mobile-devices/
 * 2. http://maxvoltar.com/archive/-webkit-font-smoothing
 * NOTE: http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
 * 3. http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 *    http://jaydenseric.com/blog/css-font-smoothing-for-firefox-mac
 */

body, input, textarea, select, button {
    text-rendering: optimizeLegibility;
    /* 1 */
    
    -webkit-font-smoothing: antialiased;
    /* 2 */
    
    -moz-osx-font-smoothing: grayscale;
    /* 3 Default: auto */
    
    -moz-font-feature-settings: "liga", "kern"
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
// Links
//----------------------------
a {
    color: $link-color;
    text-decoration: none;
    &:hover, &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    &:focus {
        @include tab-focus;
    }
}
/*  
 *  1.box-sizing
 *  2.http://codepen.io/nailu0/pen/pvRoMb  align width inline element
 */

img {
    box-sizing: border-box;
    /* 1 */
    
    vertical-align: middle;
    /* 2 */
}
.img-responsive {
    @include img-responsive;
}
/* Spacing for block elements */

p, hr, ul, ol, dl, blockquote, pre, address, fieldset, figure {
    margin: 0 0 $base-margin-vertical 0;
}
//todo: dl dd dt 相关样式
// Headings
// -------------------------
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    small, .small {
        font-weight: normal;
        line-height: 1;
        color: $headings-small-color;
    }
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: $line-height-computed;
    margin-bottom: ($line-height-computed / 2);
    small, .small {
        font-size: 65%;
    }
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: ($line-height-computed / 2);
    margin-bottom: ($line-height-computed / 2);
    small, .small {
        font-size: 75%;
    }
}
